@import "navbar.css";
@import "contenidoColumnas.css";

body {
    background-color: rgba(235, 202, 235, .4);
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Pacifico", cursive;
   /*
    font-weight: 400;
    */
    font-style: normal;
    color: rgb(48, 212, 15);
    margin: 0%;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(18, 117, 38);
    width: 100%;
}

.presentacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
}

#quienes, #somos{
    width: 50%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avalados {
    background-color: transparent;
}

.avalados h2 {
    color: rgb(18, 117, 38)
}

.galeria {
    background-color: white;  
    overflow: hidden; 
    border-radius: 1em;
    width: 80%;
    max-width: 120em;
    padding: 2em;
    overflow: hidden;
    margin: 0 auto;
}

.contenedorFoto {
    width: 100%;
    padding: 2em;
    border-radius: 1em;
    display: flex; /* Utiliza el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente las imágenes */
    align-items: center; /* Centra verticalmente las imágenes */
}

#uno {
    border-radius: 1em;
    height: auto;
    max-width: 100%;
    box-shadow: 1em 1em 2em;
    transition: all 0.5s ease;
    margin: 5px;
}

#uno:hover {
    transform: scale(1.021, 1.021);
}

.mapa {
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    border: solid rgb(18, 117, 38);
}

.ubi {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.ubi h2 {
    background-color: rgb(18, 117, 38);
    border-radius: 1em;
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}

/*estilo a botones de "galeria de fotos"*/
.boton {
    border-radius: 1em;
    background-color: rgb(18, 117, 38);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(48, 212, 15);
    transition: all 0.4s ease; 
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.6, 1.6)
}

.botones {
    display: flex;
    justify-content: space-between;   
}