#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #principal {
    width: 60%;
  }
  #sidebar {
    width: 20%;
  }

  #foto{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    /*
    width: 100%;
    padding: 2em;
    border-radius: 1em;
    display: flex;
  */
   /*
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    */
}