  #contenedor {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  #principal {
    width: 60%;
  }
  #sidebar {
    width: 30%;
  }

  img{
    padding: 10px;
    border-radius: 20px;
  }
