body div.footer{
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-color: rgb(18, 117, 38);
    height: 100%;
}
.footer p,.footer nav{
    margin: 0%;
}
.footer strong{
    color: black;
    &:hover{
        color: chartreuse;
    }
}