#consulta{
    resize: none;
}
input, textarea{
    border-radius: 1em;
}
ul#list{
    list-style-type: none;
}
li.control::before{
    content: "•";
}
.control{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.incorrecto{
    border-color: red;
    &:hover{
        border-color:red;
    }
}